
.header {
    padding: 10px 10px;
    background-color: #e76f51;
    border-style: double;
    border-color: #2a9d8f;


}

.title {
    color: #e9c46a;
    text-align: center;
    
}
.buttondiv {
    margin-left: 200px;
    margin-right: 100px;

}
